:root {
  --main-color: #212121;
  --text-color: #757575;
  --white-color: #ffffff;
  --active-color: #2196f3;
  --logo-color: #000000;
  --footer-color: rgba(255, 255, 255, 0.6);
  --hero-background: #2f303a;
  --active-button-background: #188ce8;
  --team-background: #f5f4fa;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.page-header {
  padding-top: 32px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 93px;
}
.web {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--active-color);
}
.studio {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-link {
  display: flex;
}
.header-list-item {
  margin-right: 50px;
}
.header-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--active-color);
}
.header-link {
  margin-left: auto;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.link.current {
  color: var(--active-color);
}

.hero {
  background: var(--hero-background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.h1-hero {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.button {
  background: var(--active-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--white-color);
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background: var(--active-button-background);
}

.list-about {
  display: flex;
}
.list-about-item:not(:last-child) {
  margin-right: 30px;
}
.h {
  text-align: center;
}

.h2-about {
  padding: 0;
  color: var(--white-color);
}
.h3-about {
  margin-bottom: 10px;
  padding: 0;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}
.work {
  display: flex;
  align-items: center;
}
.work .item {
  width: calc((100%-30px) / 3);
}
.our-team {
  background: var(--team-background);
}
.team {
  display: flex;
}
.team .item {
  width: calc((100%-30px) / 4);
}
.p-about {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--text-color);
  
}
.h {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  margin-bottom: 50px;
}
.h3-team {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}
.p-team {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--text-color);
  margin-bottom: 30px;
  text-align: center;
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-list {
  margin-top: 20px;
}
.button-p {
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: calc(26 / 16);
  color: var(--main-color);
  background: var(--team-background);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
}
.button-p:hover,
.button-p:focus {
  background: var(--active-color);
  color: var(--white-color);
}

.item-button-p:not(:last-child) {
  margin-right: 8px;
}
.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.portfolio-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 370px;
  height: 404px;
}

.h-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  color: var(--main-color);
  text-align: flex-start;
  margin-bottom: 4px;
  margin-top: 20px;
  margin-left: 24px;
}
.p-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--text-color);
  text-align: flex-start;
  margin-bottom: 20px;
  margin-left: 24px;
}
.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.footer {
  background: var(--hero-background);
}
.footer-link {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--active-color);
}
.footer-color {
  color: var(--footer-color);
}
.footer-studio {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: calc(31 / 26);
  color: var(--white-color);
}
